
<!-- Search Wrapper Area End -->
	<script type="text/javascript"> $(function ()
{	 $("#myModal").modal({show:false })}); </script>
<%= render "modal/myModalSignUp" %>
<%= render "modal/myModal" %>

    <!-- ##### Main Content Wrapper Start ##### -->
    <div class="main-content-wrapper d-flex clearfix">

        <!-- Mobile Nav (max width 767px)-->
        <div class="mobile-nav">
            <!-- Navbar Brand -->
            <div class="amado-navbar-brand">
                
              <a href="index.html"> <img <%= image_tag ("cat_logo.png") %>></a>
            </div>
            <!-- Navbar Toggler -->
            <div class="amado-navbar-toggler">
                <span></span><span></span><span></span>
            </div>
        </div>
<!-- ##### Main Content Wrapper Start ##### -->
    <div class="main-content-wrapper d-flex clearfix">

        <!-- Mobile Nav (max width 767px)-->
        <div class="mobile-nav">
            <!-- Navbar Brand -->
            <div class="amado-navbar-brand">
                <a href="index.html"><img <%= image_tag ("cat_logo.png") %>></a>
            </div>
            <!-- Navbar Toggler -->
            <div class="amado-navbar-toggler">
                <span></span><span></span><span></span>
            </div>
        </div>

        <!-- Header Area Start -->
        <header class="header-area clearfix">
            <!-- Close Icon -->
            <div class="nav-close">
                <i class="fa fa-close" aria-hidden="true"></i>
            </div>
            <!-- Logo -->
            <div class="logo">
                <a href="index.html"><%= image_tag ("cat_logo.png") %> <p> Le Chat-Loupé  </p></a>
            </div>
            
            <!--
            <div class="amado-btn-group mt-30 mb-100">
                
            <button type="button" class="btn amado-btn mb-15" data-toggle="modal" data-target="#exampleModal">Login/ Sign Up </button>
               
            </div>
             -->

              <%= link_to "Login", "#login", "data-toggle" => "modal", :class => 'btn amado-btn mb-15' %>
              <%= link_to "Sign up", "#sign_up", "data-toggle" => "modal", :class => 'btn amado-btn mb-15' %>

            





            <!-- Amado Nav -->
            <nav class="amado-nav">
                <ul>
                  
                    <li class="active"><a href="index.html">Home</a></li>
                    <li><a href="checkout.html">Profil</a></li>
                    <li><a href="shop.html">Shop</a></li>
                    <li><a href="product-details.html">Product</a></li>
                    <li><a href="cart.html">Panier</a></li>
                    <li><a href="checkout.html">Finaliser commande</a></li>

                </ul>
            </nav>
            <!-- Button Group -->
            
            <!-- Cart Menu -->
            <div class="cart-fav-search mb-100">
                <a href="cart.html" class="cart-nav"> <%= image_tag ("cart.png") %> Panier <span>(0)</span></a>
                <a href="#" class="fav-nav">  <%= image_tag ("favorites.png") %> Favoris</a>
                <a href="#" class="search-nav"><%= image_tag ("search.png") %> Rechercher </a>
            </div>
            <!-- Social Button -->
            <div class="social-info d-flex justify-content-between">
                <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </div>
        </header>
        <!-- Header Area End -->



        

        