<!DOCTYPE html>
<html>
  <head>
    <title>BoutiqueEnLigne</title>

      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" %>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>



      <meta charset="UTF-8">
      <meta name="description" content="">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->


      <!-- Favicon  -->
      <link rel="icon" href="assets/images/favicon.ico">

      
 </head>



  
  <body>

     <!-- Barre de recherche qui reste dispo sur toutes les pages du site relié avec du JS -->
    <div class="search-wrapper section-padding-100">
        <div class="search-close">
            <i class="fa fa-close" aria-hidden="true"></i>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="search-content">
                        <form action="#" method="get">
                            <input type="search" name="search" id="search" placeholder="Type your keyword...">
                            <button type="submit"><img src="img/core-img/search.png" alt=""></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Search Wrapper Area End -->



    <%= render 'layouts/navbar'  %>
    <!-- ###########  PAGES GOOD ################
    render 'items/items_list'
    render 'carts/cart_test'   
    -->
    <%= render 'carts/cart_test'  %>
    <%= render 'layouts/newsletter'  %>
    <%= render 'layouts/footer'  %>
    

    <%= yield %>
     <!-- ##### jQuery (Necessary for All JavaScript Plugins) ##### -->   
    <%= javascript_include_tag '/jquery/jquery-2.2.4.min.js' %>
    <!-- Popper js -->
    <%= javascript_include_tag 'popper.min.js' %>
    <!-- Bootstrap js -->
    <%= javascript_include_tag 'bootstrap.min.js' %>
    <!-- Plugins js -->
     <%= javascript_include_tag 'plugins.js' %>
    <!-- Active js -->
     <%= javascript_include_tag 'active.js' %>

   
  </body>
</html>
